[Unit]
Description=Configure %I CAN interface (NMEA 2000)
Documentation=https://github.com/OE4T/meta-tegra
After=network-pre.target
Wants=network-pre.target

[Service]
Type=oneshot
RemainAfterExit=yes
EnvironmentFile=-/etc/default/boat-can0
# Defaults if the EnvironmentFile is missing.
Environment=IFACE=can0
Environment=BITRATE=250000
ExecStartPre=-/sbin/ip link set ${IFACE} down
ExecStart=/sbin/ip link set ${IFACE} type can bitrate ${BITRATE} restart-ms 100
ExecStart=/sbin/ip link set ${IFACE} up
ExecStop=/sbin/ip link set ${IFACE} down

[Install]
WantedBy=multi-user.target
